# requirements.txt
fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
PyJWT
python-multipart
passlib[bcrypt]
psycopg2-binary
python-dotenv
openpyxl
sendgrid
pandas 
jinja2     
certifi
docxtpl
python-docx
lxml
  